---
import { CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/LayoutSerif.astro';
import { Image } from 'astro:assets';
import '../../styles/microflash.css';

export async function getStaticPaths() {
	const allBlobs = await getCollection('blobs');
	return allBlobs.map((blob) => ({
		params: { slug: blob.slug },
		props: { blob },
	}));
}

interface Props {
	blob: CollectionEntry<'blobs'>;
}

const { blob } = Astro.props;
const { Content } = await blob.render();
---

<Layout title={blob.data.title}>
	<main>
		<section class='page-content'>
			<div class='container prose lg:prose-base prose-slate prose-li:text-white mt-8 mb-8'>
				<Image class='drop-shadow-md mx-auto' src={blob.data.cover} alt={blob.data.coverAlt} />
				<a class='btn btn-info btn-outline' href='/blobs'>Go Back</a>
				<h2>{blob.data.title}</h2>
				<div class='blob-desc'>
					<p class='authors'>
						{
							blob.data.authors.length > 1
								? blob.data.authors.map((auth) => `${auth.name} :: ${auth.title}`).join(`, `)
								: `${blob.data.authors[0].name} :: ${blob.data.authors[0].title}`
						}
					</p>
					<p class='publish-date'>
						<span>
							{
								'Date: ' +
									new Date(blob.data.date).toLocaleDateString('en-US', {
										timeZone: 'UTC',
									})
							}</span
						>
					</p>
				</div>
				<Content />
			</div>
		</section>
	</main>
</Layout>

<style>
	/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap'); */

	.page-content {
		margin: 0 auto;
		max-width: 70ch;
	}
	/*
	.markdown p {
		font-family: Lora, serif;
		font-weight: 400;
		font-size: 1rem;
	} */

	img {
		border-radius: 10px;
	}

	@media (max-width: 800px) {
		.page-content {
			max-width: 90%;
			margin: 0 auto;
		}
	}
</style>
