---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';

const blobs = await getCollection('blobs', ({ data }) => {
	return data.draft !== true;
});
// had a silly long time trying to understand how to present the dates
// since they are coming in as UTC at 00:00:00, the simplest way is to not convert
// TODO: change this if you wish to include more detailed timestamps
// blobs.forEach((e) => console.log(e.data.date));
// newest to oldest
const orderedBlobs = blobs.sort(function (a, b) {
	return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<Layout title='Blobs'>
	<Showcase heading='Free Blobs' />
	<main>
		<section class='page-content'>
			<div class='container'>
				{
					orderedBlobs.map((blob) => (
						<Card>
							<Image src={blob.data.cover} alt={blob.data.coverAlt} />
							<h3>{blob.data.title}</h3>
							<div>
								Written by <strong>{blob.data.author} </strong> on{' '}
								{new Date(blob.data.date).toLocaleDateString('en-US', {
									timeZone: 'UTC',
								})}
							</div>
							<p>{blob.data.description}</p>
							<a class='btn' href={`/blobs/${blob.slug}`}>
								Read More
							</a>
						</Card>
					))
				}
			</div>
		</section>
	</main>

	<style>
		main {
			max-width: 75ch;
			margin: 0 auto;
			padding: 1.5rem;
			word-wrap: normal;
		}

		img {
			border-radius: 10px;
		}
	</style>
</Layout>
