---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import { Image } from 'astro:assets';

const blobs = await getCollection('blobs', ({ data }) => {
	return data.draft !== true;
});
// had a silly long time trying to understand how to present the dates
// since they are coming in as UTC at 00:00:00, the simplest way is to not convert
// TODO: change this if you wish to include more detailed timestamps
// blobs.forEach((e) => console.log(e.data.date));
// newest to oldest
const orderedBlobs = blobs.sort(function (a, b) {
	return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<Layout title='Blobs'>
	<Showcase heading='Blobs' />
	<main>
		<div class='grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 m-4 lg:max-w-6xl mx-auto'>
			{
				orderedBlobs.map((blob) => (
					<div class='col-span-1'>
						<div class='card card-bordered bg-base-300 hover:bg-primary-focus hover:glass hover:text-white max-w-md min-h-full mx-auto shadow-xl ease-in-out duration-300'>
							<figure>
								<Image
									class='w-full aspect-[4/3] object-cover'
									src={blob.data.cover}
									alt={blob.data.coverAlt}
								/>
							</figure>
							<div class='card-body'>
								<h2 class='card-title'>{blob.data.title}</h2>
								<p>
									{blob.data.authors.length > 1
										? blob.data.authors.map((auth) => `${auth.name}`).join(`, `)
										: `${blob.data.authors[0].name}`}
								</p>
								<span class='publish-date'>
									{'Date: ' +
										new Date(blob.data.date).toLocaleDateString('en-US', {
											timeZone: 'UTC',
										})}
								</span>
								<p class='mb-3'>{blob.data.description}</p>
								<div class='card-actions justify-end'>
									<a class='btn btn-info btn-outline' href={`/blobs/${blob.slug}`}>
										Read More
									</a>
								</div>
							</div>
						</div>
					</div>
				))
			}
		</div>
	</main>
</Layout>

<style></style>
